<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalhes</title>
  <link rel="stylesheet" href="/css/style3.css">
</head>

<body>
  <header>
    <nav class="menu">
      <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/home">Criador</a></li>
        <li><a href="/detalhes">Detalhes</a></li>
      </ul>
    </nav>
  </header>

  <main class="image-section">
    <img class="imagempit" src="../public/img/pitbul.jpg" alt="Pitbull">
    <h1 class="nomecriador">JayChou</h1>
    <h3 class="h3sobremim">Ola, Seja bem vindo ao meu projeto, me chamo Kaua, tenho 19 anos, faço Programação a 1 ano e
      2 meses, tenho afinidade em CSS,HTML,JS. estou aprendendo novas linguagens e o idioma ingles.</h3>
    <h2 class="h2obrigado">acesse minhas redes!</h2>

    <div class="div2">
      <a href="https://instagram.com/kaua_mh1">Instagram</a>
      <a href="https://github.com/JayChouJR">GitHub</a>
      <a href="">linkedIn</a>
    </div>
  </main>
  <script src="/node_modules/angular/angular.min.js"></script>
</body>

</html>