<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criador</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header><nav class="menu">
        <ul>
            <li><a href="index2.html">Login</a></li>
            
            <li><a href="index.html">Criador</a></li>
            <li><a href="index3.html">Detalhes</a></li>
        </ul>
    </nav></header>
    <main class="apresentacao">
        <section class="sessaopai">
        <h1 class="tituloapresentacao">Eleve seu negócio digital a outro nível 
            <strong class="titulo-destaque">com um Front-end de qualidade!
            </strong></h1>
            <p class="titulo__2">Ola, me chamo Kaua, sou desenvolvedor full stack , com afinidade em HTML , JAVASCRIPT , CSS ,E TYPESCRIPT, Deseja elevar seu negocio digital com um <strong class="frontforte">front-end </strong>de qualidade superior aos demais ?</p>
            <div class="divbotao">
            <a class="botao1" href="https://instagram.com/kaua_mh1">Instagram</a>
            <a class="botao2" href="https://github.com/guilhermeonrails">GitHub</a>
            </div>

        </section>
        <div>
            <img class="imagempit" src="../img/pitbul.jpg" alt="imagempitbull">
            <h1 class="nomecriador">JayChou</h1>
        </div>
        
    </main>
    <footer></footer>
</body>
</html>
