<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <header>
    <nav class="menu">
      <ul>
        <li><a href="#!/login">Login</a></li>
        <li><a href="#!/home">Criador</a></li>
        <li><a href="#!/detalhes">Detalhes</a></li>
      </ul>
    </nav>
  </header>

  <main class="apresentacao">
    <section class="sessaopai">
      <h1 class="tituloapresentacao">
        Eleve seu negócio digital a outro nível 
        <strong class="titulo-destaque">com um Front-end de qualidade!</strong>
      </h1>
      <p class="titulo__2">
        Olá, me chamo Kaua, sou desenvolvedor Full Stack com afinidade em 
        <strong>HTML, JavaScript, CSS e TypeScript.</strong> 
        Deseja elevar seu negócio digital com um 
        <strong class="frontforte">Front-end</strong> de qualidade superior aos demais?
      </p>
      <div class="divbotao">
        <a class="botao1" href="https://instagram.com/kaua_mh1">Instagram</a>
        <a class="botao2" href="https://github.com/guilhermeonrails">GitHub</a>
      </div>
    </section>
    
    <div>
      <img class="imagempit" src="img/logo-banner.png" alt="Logo">
    </div>
  </main>
</body>
</html>
